.curtain {
  background-image: url('/assets/bg/01_curtain.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
  }

  .logo {
    position: absolute;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/akasharift-860aa.appspot.com/o/akasha_rift%2FAR_0_AR.png?alt=media&token=b831f909-0098-4906-af44-0e44ca9ed6f7');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -41%);
  }

  .container {
    width: 70%;
    height: 40%;
    position: absolute;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/akasharift-860aa.appspot.com/o/akasha_rift%2F01_Intro%20Stars.PNG?alt=media&token=7b88ac9f-6186-40df-83bc-24c25cf4890a');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
  }
}