@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bootstrap/scss/bootstrap.scss";
@import "./button.scss";
@import "./desktopmenu.scss";
@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");
@import "./curtain.scss";

@font-face {
  font-family: farout;
  src: url("/assets/font/far-out.ttf");
}

@font-face {
  font-family: asul;
  src: url("/assets/font/asul-bold.ttf");
}

@font-face {
  font-family: martelsan;
  src: url("/assets/font/martelsans-regular.ttf");
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: asul !important;
  color: white !important;
  overflow-x: hidden !important;
  background-color: #412322 !important;
  background-image: linear-gradient(#412322, #000000) !important;
}

// img {
//   pointer-events: none;
//   -webkit-touch-callout: none;
// }

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
  cursor: url("/assets/cursor/3.png"), auto !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #412322;
    background-image: linear-gradient(#412322, #000000);
  }
}

.content {
  // padding: "1.4rem";
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
  overflow-y: hidden !important;
}

.accordion-item {
  border: none !important;
  .accordion-header {
    button {
      background-color: transparent !important;
      border: none !important;
      color: #f3f3f3 !important;
    }
  }
}

.team {
  transition: all 1.8s ease !important;
  -o-transition: all 1.8s ease !important;
  -moz-transition: all 1.8s ease !important;
  -webkit-transition: all 1.8s ease !important;
  width: 250px !important;
  height: 250px !important;
  // border-radius: 6px;
  transform-style: preserve-3d !important;
  position: relative !important;
  // padding: 24px;
  // border: 1.5px solid white;
  // box-shadow: 0 0 5px white;
  // border-radius: 20px;
  // background-color: black;
}

.team .content,
.team .front,
.team .back {
  width: 250px;
  height: 250px;
  transform-style: preserve-3d !important;
}
.team .front,
.team .back {
  display: flex !important;
  flex-direction: unset !important;
  justify-content: center !important;
  align-items: center !important;
  backface-visibility: hidden !important;
  position: absolute !important;
}

.team::before,
.team::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  // background-color: rgba(0, 0, 0, 0.35);
  // background-image: url("https://img.freepik.com/premium-photo/tech-devices-icons-connected-digital-planet-earth_117023-449.jpg?w=900");
  // background-blend-mode: multiply;
  // background-size: cover;
  // background-position: center center;
  // border-radius: 20px;
}

#char {
  // max-height: 375px;
  // height: 100%;
  border-radius: 0 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  // box-shadow: 0px 0px 20px 10px #ffa22329;
  // transform: translateX(-50%);
}

.left {
  transform: translateY(10px) !important;
}

.accordion-button collapsed:after {
  color: #fff !important;
}

.roadmap_image {
  transition: transform 0.2s !important;
}

.roadmap_image:hover {
  transform: scale(1.05) !important;
}

.moon {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  // background-color: #fff;
  position: absolute !important;
  bottom: 11% !important;
  left: 50% !important;
  transform: translate(-50%, -15%) !important;
  box-shadow: 0px 2px 4px #d0aca2 !important;
  overflow: hidden !important;
}

.star {
  position: absolute !important;
  width: 90px !important;
  height: 90px !important;
}

a:hover {
  color: #fff !important;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}

.roadmap .title {
  font-family: farout !important;
}

.accordion-button:focus {
  z-index: 3 !important;
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.accordion-button {
  cursor: url("/assets/cursor/3.png"), auto !important;
}

.accordion-button::after {
  background-image: none !important;
  cursor: url("/assets/cursor/3.png"), auto !important;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: url("/assets/cursor/3.png"), auto !important;
}

.accordion-body {
  color: #fff !important;
}

.collapse {
  visibility: visible !important;
}

.animation_slide_up {
  animation: slide_up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both !important;
}

@keyframes slide_up {
  0% {
    transform: translateY(100px) !important;
  }
  100% {
    transform: translateY(0) !important;
  }
}

@import "./cardhover.scss" ;
