@import "./bootstrap/scss/bootstrap.scss";
@import "./button.scss";
@import "./desktopmenu.scss";
@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");
@import "./curtain.scss";

@font-face {
  font-family: farout;
  src: url("/assets/font/far-out.ttf");
}

@font-face {
  font-family: asul;
  src: url("/assets/font/asul-bold.ttf");
}

@font-face {
  font-family: martelsan;
  src: url("/assets/font/martelsans-regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: asul;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #412322 !important;
  background-image: linear-gradient(#412322, #000000) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: url("/assets/cursor/3.png"), auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #412322;
    background-image: linear-gradient(#412322, #000000);
  }
}

.content {
  // padding: "1.4rem";
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.accordion-item {
  border: none;
  .accordion-header {
    button {
      background-color: transparent;
      border: none;
      color: #f3f3f3;
    }
  }
}

.team {
  transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -webkit-transition: all 1.8s ease;
  width: 250px;
  height: 250px;
  // border-radius: 6px;
  transform-style: preserve-3d;
  position: relative;
  // padding: 24px;
  // border: 1.5px solid white;
  // box-shadow: 0 0 5px white;
  // border-radius: 20px;
  // background-color: black;
}

.team .content,
.team .front,
.team .back {
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
}
.team .front,
.team .back {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  position: absolute;
}

.team::before,
.team::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(0, 0, 0, 0.35);
  // background-image: url("https://img.freepik.com/premium-photo/tech-devices-icons-connected-digital-planet-earth_117023-449.jpg?w=900");
  // background-blend-mode: multiply;
  // background-size: cover;
  // background-position: center center;
  // border-radius: 20px;
}

#char {
  // max-height: 375px;
  // height: 100%;
  border-radius: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0px 0px 20px 10px #ffa22329;
  // transform: translateX(-50%);
}

.left {
  transform: translateY(10px);
}

.accordion-button collapsed:after {
  color: #fff !important;
}

.roadmap_image {
  transition: transform 0.2s;
}

.roadmap_image:hover {
  transform: scale(1.05);
}

.moon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  // background-color: #fff;
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%, -15%);
  box-shadow: 0px 2px 4px #d0aca2;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 90px;
  height: 90px;
}

a:hover {
  color: #fff !important;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.roadmap .title {
  font-family: farout !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-button {
  cursor: url("/assets/cursor/3.png"), auto !important;
}

.accordion-button::after {
  background-image: none !important;
  cursor: url("/assets/cursor/3.png"), auto !important;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: url("/assets/cursor/3.png"), auto !important;
}

.animation_slide_up {
  animation: slide_up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide_up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@import "./cardhover.scss";
