@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: farout;
  src: url("/assets/font/far-out.ttf");
}

@font-face {
  font-family: asul;
  src: url("/assets/font/asul-bold.ttf");
}

@font-face {
  font-family: martelsan;
  src: url("/assets/font/martelsans-regular.ttf");
}

* {
  box-sizing: border-box;
  cursor: url('/assets/cursor/3.png'), auto;
}

html, body {
  margin: 0;
  padding: 0;
}

.text-asul {
  font-family: asul;
}

.text-farout {
  font-family: farout;
}

.text-martelsan {
  font-family: martelsan;
}

@layer components {
  .menuitem {
    @apply text-white transition-all
  }

  .menuitem:hover {
    text-shadow: 0px 2px 4px #d0aca2;
  }

  .menuitem img:hover {
    filter: drop-shadow(0 0 0.75rem rgba(208,172,162,0.75));
  }

  .menuitemicon {
    @apply transition transition-all p-1 hover:rounded-md hover:bg-white hover:text-gray-600
  }
}