.ar0Ar1Icon,
.ar0Navigator1Icon,
.curtain1Icon,
.introStars1 {
  position: absolute;
  top: 271px;
  left: 0;
  width: 428px;
  height: 321px;
  object-fit: cover;
}
.ar0Ar1Icon,
.ar0Navigator1Icon,
.curtain1Icon {
  top: 23px;
  height: 903px;
}
.ar0Ar1Icon,
.ar0Navigator1Icon {
  top: 0;
  height: 70px;
}
.ar0Ar1Icon {
  top: 202px;
  left: 134px;
  width: 160.4px;
  height: 90px;
}
.welcomeToTerrewat {
  margin: 0;
}
.welcomeToTerrewatContainer {
  position: absolute;
  top: 383px;
  left: 57px;
  font-weight: 600;
  display: inline-block;
  width: 315px;
}
.ar0Hands1Icon,
.orbWhite1Icon {
  position: absolute;
  top: 522px;
  left: 0;
  width: 450px;
  height: 139px;
  object-fit: cover;
}
.orbWhite1Icon {
  top: 605px;
  left: 164px;
  width: 100px;
  height: 111.49px;
}
.stepIntoThe {
  position: absolute;
  top: 723px;
  left: 62px;
  font-size: 30px;
  font-family: var(--font-asul);
  text-shadow: 0 2px 4px #d0aca2;
}
.iphone13ProMax1Child,
.iphone13ProMax1Inner {
  position: absolute;
  top: 763px;
  left: 142px;
  background-color: var(--color-brown);
  width: 145px;
  height: 3px;
}
.iphone13ProMax1Inner {
  top: 1188px;
}
.akashaRiftIsContainer {
  border: 0;
  background-color: transparent;
  display: inline-block;
  font-family: var(--font-martel-sans);
  font-size: var(--font-size-sm);
  position: absolute;
  top: 795px;
  left: 62px;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
  width: 305px;
  height: 277px;
}
.lines1Icon,
.logoAkashaRiftABlackRemovIcon,
.starReds2Icon {
  position: absolute;
  top: 0;
  left: 10px;
  width: 90px;
  height: 70px;
  object-fit: cover;
}
.lines1Icon,
.starReds2Icon {
  top: 1072px;
  left: 0;
  width: 428px;
  height: 73px;
}
.starReds2Icon {
  top: 646px;
  left: 57px;
  width: 70px;
  height: 70px;
}
.starReds3Icon,
.starReds4Icon,
.starWhite2Icon,
.starWhite4Icon {
  position: absolute;
  top: 1507px;
  left: 19px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.starReds3Icon,
.starWhite2Icon,
.starWhite4Icon {
  top: 967px;
  left: 367px;
}
.starWhite2Icon,
.starWhite4Icon {
  top: 636px;
  left: 322px;
  width: 90px;
  height: 90px;
}
.starWhite4Icon {
  top: 828px;
  left: 367px;
}
.starWhite3Icon,
.starWhite5Icon,
.starYellow2Icon,
.starYellow3Icon {
  position: absolute;
  top: 751px;
  left: 0;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.starWhite5Icon,
.starYellow2Icon,
.starYellow3Icon {
  top: 1471px;
  left: 319px;
}
.starYellow2Icon,
.starYellow3Icon {
  top: 731px;
  left: 388px;
  width: 80px;
  height: 80px;
}
.starYellow3Icon {
  top: 1016px;
  left: 12px;
}
.ourNftsAreContainer {
  position: absolute;
  top: 1220px;
  left: 62px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 305px;
  height: 234px;
}
.whatWillBecome {
  position: absolute;
  top: 1152px;
  left: 19px;
  font-size: 26px;
  font-family: var(--font-asul);
  text-shadow: 0 2px 4px #d0aca2;
}
.chara1Icon,
.icon {
  position: absolute;
  top: 1577px;
  left: 39px;
  width: 350px;
  height: 447px;
  object-fit: cover;
}
.icon {
  top: 1671px;
  left: 102px;
  width: 225px;
  height: 250px;
}
.charaPanel1Icon,
.icon1,
.icon2,
.icon3 {
  position: absolute;
  top: 2041px;
  left: 0;
  width: 428px;
  height: 128px;
  object-fit: cover;
}
.icon1,
.icon2,
.icon3 {
  top: 2065px;
  left: 80px;
  width: 80px;
  height: 80px;
}
.icon2,
.icon3 {
  left: 175px;
}
.icon3 {
  left: 270px;
}
.iphone13ProMax1 {
  position: relative;
  background-color: #412322;
  width: 100%;
  height: 2233px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  color: var(--color-white);
  font-family: var(--font-martel-sans);
}
